* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image:url(../images/bg.jpg);
    background-size: cover;
    height: 1010px;
    width: 1400px;
}
header {
    height: 440px;
    width: 1020px;
    margin: auto;
    color: #cfa205;
    text-align: center;
    background-color: #090401;
    text-transform: uppercase;
    margin-top: auto;
}
.white {
    color: white;
}
a:visited {
    color: white
}
a {
    text-decoration:none;
}
.menu {
    height: 60px;
    font-family: 'Josefin Sans', sans-serif;
}
.menu li{
    margin: 0 25px;
    padding-top: 15px;
    font-weight: bold;
}
ul li {
    list-style: none;
    display: inline-block;
}
#titre {
    height: 320px;
}
h1 {
    font-size: 133px;
    margin: auto;
    font-family: 'Josefin Sans', sans-serif;
    padding: 40px 0;
}
h2 {
    font-size: 18px;

}
.activity {
    font-family: 'Bitter', serif;
    margin: 0 10px;
}
main {
    background-color: white;
    font-family: 'Bitter', sans-serif;
    text-align: center;
    width: 1020px;
    margin: auto;
    padding: 60px;
}
.logo{
    height: 60px;
    background-color: #e8e8e8;
    padding-top: 20px;
}
.facebooklogo{
    padding: 2px;
    border: 2px solid #9d9d9d;
    border-radius: 24px;
}
.logolarge {
    padding: 2px 0;
    border: 2px solid #9d9d9d;
    border-radius: 24px;
}

i {
    color: #9d9d9d;
    margin: 0 5px ;
}
.paragraphe {
    width: 900px;
    height: 90px;
    margin: auto;
    font-size: 18px;
    vertical-align: middle;
    border-bottom: 1px solid #e8e8e8;
    color: #7a7a7a;
}
.three-column {
  -moz-column-count: 3;
  -moz-column-gap: 60px;
  margin-top: 1.60em;
  font-size: 14px;
  text-align: left;
}
.articletittle {
    margin: 20px 0;
    text-transform: uppercase;
}
.article {
    font-size: 14px;
}
#contact {
    background-color: #090401;
    font-family: 'Bitter', serif;
    color: #cfa205;
    font-size: 14px;
}
fieldset {
    height: 220px;
    border-radius: 20px;
    border: 3px solid #cfa205;
}
#information {
    height: 220px;
}
legend {
    font-size: 20px;
    margin: 24px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}
label {
    float: left;
    width: 100px;
    margin: 1em;
}
#commentaire {
    height: auto;
    padding: 25px;
}
