* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image:url(../images/bg.jpg);
    background-size: cover;
    height: 1010px;
    width: 1400px;
}
header {
    height: 320px;
    width: 1020px;
    margin: auto;
    color: #cfa205;
    text-align: center;
    background-color: black;
    text-transform: uppercase;
    margin-top: auto;
}

ul li {
    list-style: none;
    display: inline-block;
}
.titre {
    height: 320px;
}
h1 {
    font-size: 133px;
    margin: auto;
    font-family: 'Josefin Sans', sans-serif;
}
#activity {
    font-family: 'Bitter', serif;
}
main {
    background-color: white;
    font-family: 'Bitter', sans-serif;
    text-align: center;
    width: 1020px;
    margin: auto;
}
#logo{
    height: 60px;
}
p {
    width: 900px;
    height: 90px;
}
.three-column {
  -moz-column-count: 3;
  -moz-column-gap: 2em;
  margin-top: 1.60em;
  font-size: 14px;
}
